$color-background: hsla(0, 0%, 10%, 1);
$color-main-normal: hsla(0, 0%, 50%, 1);
$color-main-active: hsla(0, 0%, 75%, 1);
$color-white-normal: hsla(0, 0%, 100%, 1);

$break-point-1: 1280px; /*change main menu headline size or global font-size*/
$break-point-2: 900px; /*change navigation to sandwich + reduce padding*/
$break-point-3: 720px; /*reduce padding and make fonts a little bit smaller and paddings also*/
$break-point-4: 1px; /*truly reduce font-size and make padding to minimum*/

$default-z-index: 2;
$scene-z-index: 2;
