.container {
  gap: 5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.texts {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  &-1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 95%;

    color: var(--color-white-normal);

    @media (max-width: 720px) {
      /*--break-point-3*/
      font-size: 2rem;
    }
  }

  &-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 8rem;
    line-height: 95%;

    color: var(--color-main-normal);

    @media (max-width: 720px) {
      /*--break-point-3*/
      font-size: 5rem;
    }
  }
}

.description {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;

  color: var(--color-white-normal);

  @media (max-width: 720px) {
    /*--break-point-3*/
    font-size: 1rem;
  }
}

.buttons {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 720px) {
    /*--break-point-3*/
    flex-direction: column;
    align-items: flex-start;
  }
}

.secondary-button {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--color-main-light);
  color: var(--color-main-light);

  font-weight: 700;
  font-size: 1.5rem;

  cursor: pointer;

  transition: 0.25s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}
