@use "../variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2; /*var(--default-z-index)*/
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-white-normal);
}

.sandwich {
  display: none;
  fill: var(--color-white-normal);

  cursor: pointer;
  transition: 0.125s ease-in-out;

  &:hover {
    opacity: 0.75;
  }

  @media (max-width: 900px) {
    /*var(--break-point-2)*/
    display: block;
  }
}

.links {
  gap: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-white-normal);
  color: var(--color-white-normal);

  @media (max-width: 900px) {
    /*var(--break-point-2)*/
    display: none;
  }
}

.link {
  gap: 0.5rem;
  display: flex;
  fill: inherit;
  color: inherit;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out opacity;

  &:hover {
    opacity: 0.75;
  }
}
